<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845271429527-e6ms9591kqm2bdk9jmbhhoa7k3m1t2fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845271429527-e6ms9591kqm2bdk9jmbhhoa7k3m1t2fp</string>
	<key>API_KEY</key>
	<string>AIzaSyAKtJGaDkdT5pqB4G-b_h04QsvBLIfbcps</string>
	<key>GCM_SENDER_ID</key>
	<string>845271429527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CoFi</string>
	<key>PROJECT_ID</key>
	<string>cofi-90573</string>
	<key>STORAGE_BUCKET</key>
	<string>cofi-90573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845271429527:ios:6ae607de1836c74ecad4d2</string>
</dict>
</plist>